body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa; /* Light gray background color */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #ffffff; /* White container background color */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle lift */
}

.row {
    margin-bottom: 20px;
}

h1 {
    color: #007bff; /* Bootstrap primary color */
}

h2 {
    color: #343a40; /* Bootstrap dark gray color */
}

form {
    margin-top: 20px;
}

input[type="file"] {
    margin-bottom: 10px;
}

.btn-info {
    background-color: #007bff; /* Bootstrap primary color */
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-info:hover {
    background-color: #0056b3; /* Slightly darker blue on hover */
}
